body{
  font-family: "Times New Roman", Times, serif;
  padding-top: 15px;
  margin: 0;
  width: 100%;
  height:100%;
  background: url("inc/images/sunset-690742.jpg") no-repeat center fixed;
  background-size: cover;
  background-color: #083f6f;
}

/*Loading screen*/
#loading_overlay_container
{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #0e0e0e;
}

#loading_overlay_gif
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*End Loading screen*/

p {
    font-size: 18px;
}

#header {
  text-align: center;
}

#header img{
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 150px;
  width: 120px;
  height: 120px;
}

#footer {
	color: white;
}

.row{
  margin-top: 20px;
}

a {
    color: #c4e4ff;
}

a:hover {
    color: #c4e4ff;
}

.pic_box{
  height: 400px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  /*background: white;*/
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  border: 2px solid white;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.pic_box a{
	color: white;
}

.pic_box img{
  width: 100%;
  height: 65%;
}

.page{
  color: white;
}

.page_header{
  	text-align: center;
  	background-color: transparent;
	background: rgba(0, 0, 0, 0.5);
	border: 2px solid white;
}

.page .page_header img {
  width: 200px;
  height: 200px;
  display: initial;
  padding: 10px;
  border-radius: 22px;
}

.page_row{
	border: 2px solid white;
	/*border-radius: 6px;*/
	background: rgba(0, 0, 0, 0.5);
}

.page_row img{
	display: initial;
	max-height: 400px;	
	margin-bottom: 5px;
}

.pastebin{
	padding-top: 10px;
	padding-bottom: 10px;
}

.list-group-item{
  background-color: transparent;
  background: rgba(0, 0, 0, 0.5);
}

.panel{
  background: rgba(0, 0, 0, 0.5);
}

.panel-heading{
  color: white !important;
  background-image: none !important;
  background-color: transparent !important;
  background: rgba(0, 0, 0, 0.5);
}

.view_btn{
	display: none;	
}

  .navbar{
    margin-top: 10px;
    margin-bottom: 0px;
    background-image: none;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-size: 24px;
  }
  .navbar-inverse .navbar-nav>li>a {
    color: white;
    margin-left: 6px;
    margin-right: 6px;
  }
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
  
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  	background-color: transparent; 
}
	
.navbar-inverse .navbar-toggle {
	border-color: white;
}

.navbar-toggle {
    float: none; 
    margin-right: 0px; 
    color: white;
  }
  
.navbar-header{
  	text-align: center;
  }
  
  .navbar-collapse {
  	border-top: none;
  }
  .navbar-toggle .icon-bar {
    display: none;
   }
  
/*@media (min-width: 768px) {
  .navbar{
    margin-top: 10px;
    margin-bottom: 0px;
    background-image: none;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-size: 24px;
  }
  .navbar-inverse .navbar-nav>li>a {
    color: white;
    margin-left: 6px;
    margin-right: 6px;
  }
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
}*/

@media (max-width: 768px) {
	.page_header, .page_row, .page_slider{		
		margin-left: 5px;
		margin-right: 5px;
	}	
	
	.pic_box{
		/*max-width: 420px;*/
		height: initial;
		padding-bottom: 5px;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
	}
	
	.view_btn{
		display: initial;
		text-align: center;
	}
}

/*Portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	.row{
		margin-left: auto;
		margin-right: auto;
	}
	
	.pic_box{
		max-width: 420px;
		margin-left: auto;
		margin-right: auto;
	}
}

/*Landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.pic_box {
    	height: 465px;
   	}
}